<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expired Invoices</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div style=" margin: 20px 80px;">
    <table class="table table-sm table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Issued</th>
            <th>Due</th>
        </tr>
        </thead>
        <tbody class="table align-center" th:each="invoice : ${expiredInvoices}">
        <tr>
            <th th:text="${invoice.getId()}"></th>
            <td th:text="${invoice.getAmount()}"></td>
            <td th:text="${invoice.getIssued()}"></td>
            <td th:text="${invoice.getDue()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>