<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wrong Date Invoices</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div style=" margin: 20px 80px;">
    <table class="table table-sm table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">Invoice ID</th>
            <th scope="col">Issued</th>
            <th scope="col">Order ID</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody class="table align-center" th:each="invoice : ${wrongDateInvoices}">
            <tr>
                <th scope="row" th:text="${invoice.getId()}"></th>
                <td th:text="${invoice.getIssued()}"></td>
                <td th:text="${invoice.getOrder().getId()}"></td>
                <td th:text="${invoice.getOrder().getDate()}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>